<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    script(src="./ts/main.js" defer type="module")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
  body
    main
      h1 {{json.item.name}} - {{json.item.artists[0].name}}
      h2 from "{{json.item.album.name}}"
      div
        img(:src="json.item.album.images[0].url")
      div
        progress(:value="percentage")
      div
        button(@click="updateToken") Update Token
        button(@click="reload") Reload
